[MAIN]
disable=
    E1101, #  Dynamic attributes
    C0301, #  Line too long
    E0307, #  __str__ does not return str
    W0223, #  method is not overriden in child class
    W0613, #  unused argument
    C0114,
    C0115,
    C0116, # docstrings
    R0903, # too few public methods
    R0901, # too many ancestors ?
ignore=migrations